{
    "tabWidth": 4,
    "useTabs": false,
    "svelteSortOrder": "options-scripts-markup-styles",
    "svelteIndentScriptAndStyle": true,
    "printWidth": 120,
    "singleQuote": true,
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-svelte"
    ],
    "tailwindConfig": "./tailwind.config.ts",
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
