@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'RuneScape';
        src: url('/fonts/runescape.ttf') format('truetype');
        font-display: swap;
    }

    :root {
        --radius: 0.3rem;

        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 72.22% 50.59%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;

        /* Sidebar styles. */
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: var(--primary);
        --sidebar-primary-foreground: var(--primary-foreground);
        --sidebar-accent: var(--accent);
        --sidebar-accent-foreground: var(--accent-foreground);
        --sidebar-border: var(--border);
        --sidebar-ring: var(--ring);
    }
    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 35.5 91.7% 32.9%;

        /* Sidebar styles. */
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: var(--primary);
        --sidebar-primary-foreground: var(--primary-foreground);
        --sidebar-accent: var(--accent);
        --sidebar-accent-foreground: var(--accent-foreground);
        --sidebar-border: var(--border);
        --sidebar-ring: var(--ring);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground transition-colors font-sans;
    }
}

@layer utilities {
    /*
     * Helps size content appropriately. Handles content width and padding. Use on outer parents.
     */
    .content-sizing {
        width: 100%;
        @apply w-full max-w-5xl py-3 px-8 mx-auto;
    }

    /*
     * Helps size content appropriately. Handles content width and padding. Use on elements you want to be about
     * half the width of the content-sizing class.
     */
    .content-sizing-half {
        width: 100%;
        @apply w-full max-w-2xl py-3 px-8 mx-auto;
    }

    /**
     * Applies a background blur to the element.
     */
    .custom-bg-blur {
        @apply bg-background/95 supports-[backdrop-filter]:bg-background/60 backdrop-blur;
    }

    /**
     * Applies custom card styles.
     */
    .custom-card {
        @apply text-card-foreground p-6 bg-card rounded-xl border shadow;
    }

    /**
     * Applies the OSRS RuneScape font to the element.
     */
    .rs-font {
        font-family: 'RuneScape', monospace;
    }

    /**
     * Applies the OSRS RuneScape font to the element but with a shadow.
     */
    .rs-font-with-shadow {
        @apply rs-font;
        text-shadow: .063rem .063rem black;
    }
}
